<div class="row">
  <div class="col-md-4">
    <panel>
      <panel-title>Candidates</panel-title>
      <candt-list [items]="items" 
        (onSelected)="onSelect($event)"
        (onDeleted)="onDelete($event)"></candt-list>
    </panel>
  </div>
  <div class="col-md-8">
    <tabset>
      <tab heading="Details">
        <candt-detail [item]="selectedItem"></candt-detail>
      </tab>
      <tab heading="Candidate Form">
        <candt-form [item]="selectedItem" (onSubmited)="onSubmit($event)"></candt-form>
      </tab>
      <tab heading="Assessments">
        <div class="col-md-5">
          <assmt-list [items]="assmts" 
            [selectedItems]="selectedAssmts"
            [can]="{check: true}"
            (onSelected)="onSelectAssmt($event)"
            (onDeleted)="onDelete($event)"></assmt-list>
          <fieldset>
            <div class="form-group">
              <label for="" class="control-label">Candidates</label>
              <select class="form-control" (change)="selectedCandt = $event.target.value">
                <option value=""></option>
                <option value="{{item._id}}" *ngFor="let item of items|async">{{item.name}}</option>
              </select>
            </div>
            <div class="pull-left">
              <button class="btn btn-primary" type="button" [disabled]="!selectedCandt"
                (click)="setAssmts()">set Assessments</button>
            </div>
          </fieldset>
        </div>
        <div class="col-md-7">
          <candt-quest-list [items]="quests"></candt-quest-list>
        </div>
      </tab>
    </tabset>
  </div>
</div>
<confirm-dialog *ngIf="showDeleteDialog" (onConfirmed)="onDeleteConfirm($event)">
  Are you sure you want to delete?
</confirm-dialog>