<template #modalTemplate>
  <div class="modal-header">
  <h4 class="modal-title">Confirm</h4>
</div>
<div class="modal-body">
  <ng-content></ng-content>
</div>
<div class="modal-header">
  <div class="pull-right">
    <button class="btn btn-detault" type="button" (click)="onNo()">No</button>
    <button class="btn btn-primary" type="button" (click)="onYes()">Yes</button>
  </div>
</div>
</template>