
<div class="row">
  <div class="col-md-4">
    <panel>
      <panel-title>Assessment</panel-title>
      <assmt-list [items]="items" 
      (onSelected)="onSelect($event)"
      (onEdited)="onEdit($event)"
      (onDeleted)="onDelete($event)"></assmt-list>
    </panel>
  </div>
  <div class="col-md-8">
    <tabset>
      <tab heading='Details'>
        <assmt-detail [item]="selectedItem"
          (onEdited)="onEdit($event)"
          (onDeleted)="onDelete($event)"></assmt-detail>
      </tab>
      <tab heading="Assessment Form">
        <assmt-form [item]="selectedItem" (onSubmited)="onSubmit($event)"></assmt-form>
      </tab>
      <tab heading="Questions">
        <quest-list [selectedItems]="selectedQuestItems"
          [items]="questions" [can]="{check: true}"
          (onEdited)="onEditQuest($event)"
          (onDeleted)="onDeleteQuest($event)"
          (onSelected)="onSelectQuest($event)"></quest-list>
        
        <fieldset class="form-group">
          <label for="" class="control-label">Assessment</label>
          <select class="form-control" (change)="setSelectedAssmt($event)">
            <option value=""></option>
            <option value="{{item._id}}" *ngFor="let item of items|async">{{item.name}}</option>
          </select>
        </fieldset>

        <div class="pull-left">
          <button class="button btn btn-primary" [disabled]="!selectedAssmtId"
            (click)="AddQuestsToAssmt()">Add To Assessment</button>
        </div>
      </tab>

    </tabset>
    
  </div>
</div>
<confirm-dialog *ngIf="showDeleteDialog" (onConfirmed)="onDeleteConfirm($event)">
  Are you sure you want to delete?
</confirm-dialog>

