<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title"><ng-content select="panel-title"></ng-content></h4>
  </div>
  <ng-content></ng-content>
  <div class="panel-footer">
    <div class="pull-right"><ng-content select="panel-actions"></ng-content></div>
  </div>
</div>