<div class="modal-header">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Question</h4>
  </div>
  <form class="form-horizontal" [formGroup]="questForm" novalidate (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="form-group">
        <label class="control-label col-sm-3">Question</label>
        <div class="col-sm-9">
          <textarea cols="30" rows="5" class="form-control" formControlName="question"></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="pull-right">
        <button class="btn btn-default" type="button" (click)="questModalRef.hide()">Cancel</button>
        <button [disabled]="!questForm.valid" class="btn btn-primary" type="submit">Save Question</button>
      </div>
    </div>
  </form>
</div>