
<div class="panel panel-default">
  <div class="panel-heading">
    <span class="panel-title">Questions</span>
  </div>
  <form class="form-horizontal" [formGroup]="questForm" novalidate (ngSubmit)="onSubmit()">
    <div class="panel-body">
      <div class="form-group">
        <label for="" class="control-label col-sm-2">Category</label>
        <div class="col-md-10">
          <select class="form-control" formControlName="categoryId">
            <option value=""></option>
            <option value="{{category._id}}" *ngFor="let category of categories">{{category.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Question</label>
        <div class="col-sm-10">
          <textarea formControlName="question" cols="30" rows="5" class="form-control"></textarea>
        </div>
      </div>
    </div>      
    <div class="panel-footer">
      <div class="">
        <button [disabled]="!questForm.valid" class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-default" type="button" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </form>
  <table class="table">
    <tr>
      <th>Question</th>
      <th>Category</th>
      <th></th>
    </tr>
    <tr *ngFor="let quest of quests|async">
      <td><a href="#" (click)="onQuest($event, quest)" style="line-height:34px">{{quest.question}}</a></td>
      <td>{{quest?.categoryId}}</td>
      <td>
        <div class="pull-right">
        <button class="button btn btn-link" type="button" (click)="onEdit(quest)"><i class="glyphicon glyphicon-pencil"></i></button>
        <button class="button btn btn-link" type="button" (click)="onDelete(quest)"><i class="glyphicon glyphicon-trash"></i></button>
      </div>
      </td>
    </tr>
  </table>
  <div class="panel-footer">
    <div class="pull-right">
      <button class="btn btn-default" type="button">Add To Assessment</button>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
