<nav class="navbar navbar-default">
  <div class="container-fluid">
  <div class="navbar-header">
    <a [routerLink]="['']"><span class="navbar-brand">Author App</span></a>
  </div>
  <ul class="nav navbar-nav" *ngIf="(app|async).user.loggedIn">
    <li *ngFor="let navItem of navItems"
      routerLinkActive
      #routerLinkActiveInstance="routerLinkActive"
      [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1">
      <a [routerLink]="[navItem.route]">{{navItem.name}}</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a *ngIf="(app|async).user.loggedIn" href="#" (click)="onLogout($event)"><span class="glyphicon glyphicon-log-in"> Logout</span></a>
      <a *ngIf="!(app|async).user.loggedIn" href="#" (click)="onLogin($event)"><span class="glyphicon glyphicon-log-in"> Login</span></a>
    </li>
  </ul>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>