<ul class="list-group">
    <li class="list-group-item" *ngFor="let item of items|async">
      <input type="checkbox" (change)="onChangeAll($event)">
      <a href="#" (click)="onSelect($event, item)" style="line-height:34px">{{item.name}}</a>
      <div class="pull-right">
        <button class="button btn btn-link" type="button" (click)="onEdit(item)"><i class="glyphicon glyphicon-pencil"></i></button>
        <button class="button btn btn-link" type="button" (click)="onDelete(item)"><i class="glyphicon glyphicon-trash"></i></button>
      </div>
      <div class="clearfix"></div>
    </li>
  </ul>