<form class="form-horizontal" [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <div class="panel-body">
  <div class="form-group">
    <label for="" class="control-label col-sm-2">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" formControlName="name">
    </div>
  </div>
  </div>
  <div class="panel-footer">
    <div class="">
      <button [disabled]="!form.valid" class="button btn btn-primary" type="submit">Save</button>
      <button class="btn btn-default" type="button" (click)="onCancel()">Cancel</button>
    </div>
  </div>
</form>