<div class="panel panel-default">
  <!--<div class="row">-->
    <div class="col-md-4">
      <div class="panel-heading">
        <span class="panel-title">Assessments</span>
      </div>
      <assmt-form [item]="selected" (submited)="onSubmit($event)" (canceled)="onCancel($event)"></assmt-form>
      <assmt-list [items]="items" (onSelected)="onSelect($event)" (onDeleted)="onDelete($event)" (onEdited)="onEdit($event)"></assmt-list>
    </div>
    <div class="col-md-8">
      <div class="panel-heading">
        <div class="panel-title">Assessment Questions</div>
      </div>
      <assmt-quest-list [items]="questions" (onSelected)="onSelectQuestions($event)"></assmt-quest-list>
      <div class="panel-footer">
        <div class="pull-right"> 
          <button class="btn btn-default" [disabled]="!selectedQuests.length">Remove Selected</button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  <!--</div>-->
  <div class="clearfix"></div>
</div>
<!--
<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title">Assessments</span>
      </div>
      <assmt-form [selected]="selected" (submited)="onSubmit($event)" (canceled)="onCancel($event)"></assmt-form>
      <assmt-list [items]="items" (onSelected)="onSelect($event)" (onDeleted)="onDelete($event)" (onEdited)="onEdit($event)"></assmt-list>
    </div>
  </div>
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">Assessment Questions</div>
      </div>
      <assmt-quest-list [items]="questions" (onSelected)="onSelectQuestions($event)"></assmt-quest-list>
      <div class="panel-footer">
        <div class="pull-right"> 
          <button class="btn btn-default">Remove Selected</button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>-->

