<table class="table">
  <colgroup>
    <col width="1">
  </colgroup>
  <tr>
    <th><input *ngIf="can.check" type="checkbox" (change)="onChangeCheckAll($event)" [checked]="(selected$|async).selectedAll"></th>
    <th *ngFor="let field of displayFields">{{field.label}}</th>
  </tr>
  <tr *ngFor="let item of items|async; let count = count">
    <td><input *ngIf="can.check" type="checkbox" (change)="onChangeCheck($event, item, count)" [checked]="setSelect(item)"></td>
    <td *ngFor="let field of displayFields">
      <a *ngIf="field.select === true" href="#" (click)="onSelect($event, item)">{{item[field.name]}}</a>
      <span *ngIf="!!field.select === false">{{item[field.name]}}</span>
    </td>
    <td>
      <div class="pull-right">
        <button *ngIf="can.edit" class="button btn btn-link" type="button" (click)="onEdit(item)"><i class="glyphicon glyphicon-pencil"></i></button>
        <button *ngIf="can.delete" class="button btn btn-link" type="button" (click)="onDelete(quest)"><i class="glyphicon glyphicon-trash"></i></button>
      </div>
    </td>
  </tr>
</table>