
<div class="row">
  <div class="col-md-7">
    <panel>
      <panel-title>Questions</panel-title>
      <quest-list [items]="items" 
      (onSelected)="onSelect($event)"
      (onEdited)="onEdit($event)"
      (onDeleted)="onDelete($event)"></quest-list>
    </panel>
  </div>
  <div class="col-md-5">
    <tabset>
      <tab heading='Details'>
        <quest-detail [item]="selectedItem"
          (onEdited)="onEdit($event)"
          (onDeleted)="onDelete($event)"></quest-detail>
      </tab>
      <tab heading="Question Form">
        <quest-form [item]="selectedItem" (onSubmited)="onSubmit($event)"></quest-form>
      </tab>
    </tabset>
    
  </div>
</div>
<confirm-dialog *ngIf="showDeleteDialog" (onConfirmed)="onDeleteConfirm($event)">
  Are you sure you want to delete?
</confirm-dialog>

