
<div class="row">
  <div class="col-md-7">
    <panel>
      <panel-title>Questions</panel-title>
      <user-list [items]="items" 
      (onSelected)="onSelect($event)"
      (onEdited)="onEdit($event)"
      (onDeleted)="onDelete($event)"></user-list>
    </panel>
  </div>
  <div class="col-md-5">
    <tabset>
      <tab heading='Details'>
        <user-detail [item]="selectedItem"
          (onEdited)="onEdit($event)"
          (onDeleted)="onDelete($event)"></user-detail>
      </tab>
      <tab heading="Question Form">
        <user-form [item]="selectedItem" (onSubmited)="onSubmit($event)"></user-form>
      </tab>
    </tabset>
    
  </div>
</div>
<confirm-dialog *ngIf="showDeleteDialog" (onConfirmed)="onDeleteConfirm($event)">
  Are you sure you want to delete?
</confirm-dialog>

