<table class="table" *ngIf="(items$|async).length">
  <colgroup>
    <col width="1">
  </colgroup>
  <tr>
    <th><input *ngIf="can.check" type="checkbox" (change)="onChangeCheckAll($event, items)" [checked]="(selected$|async).selectedAll"></th>
    <th *ngFor="let field of displayFields">{{field.label}}</th>
    <th></th>
  </tr>
  <tr *ngFor="let item of items$|async; let count=count">
    <td><input *ngIf="can.check" type="checkbox" (change)="onChangeCheck($event, item, count)" [checked]="selectedItems.indexOf(item._id) !== -1"></td>
    <td *ngFor="let field of displayFields">
      <a *ngIf="can.select && field.select === true" href="#" (click)="onSelect($event, item)">{{item[field.name]}}</a>
      <span *ngIf="!can.select">{{item[field.name]}}</span>
    </td>
    <td>
      <div class="pull-right">
        <button *ngIf="can.edit" class="button btn btn-link" type="button" (click)="onEdit(item)"><i class="glyphicon glyphicon-pencil"></i></button>
        <button *ngIf="can.delete" class="button btn btn-link" type="button" (click)="onDelete(item)"><i class="glyphicon glyphicon-trash"></i></button>
      </div>
    </td>
  </tr>
</table>