<div *ngIf="item">
  <div class="pull-right">
    <button *ngIf="can.edit" class="button btn btn-link" type="button" (click)="onEdit(item)"><i class="glyphicon glyphicon-pencil"></i></button>
    <button *ngIf="can.delete" class="button btn btn-link" type="button" (click)="onDelete(item)"><i class="glyphicon glyphicon-trash"></i></button>
  </div>
  <div class="clearfix"></div>
  <hr>
  <fieldset class="form-group" *ngFor="let fieldset of fieldsets">
    <div [ngClass]="getClasses(count)" *ngFor="let field of fieldset, let count = count">
      <label class="control-label">{{field.label}}</label>
      <p>{{field.value || item[field.name]}}</p>
    </div>
  </fieldset>
</div>