
<div class="panel panel-default">
  <div class="panel-heading">
    <span class="panel-title">Candidates</span>
  </div>
  <form class="form-horizontal" [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
    <div class="panel-body">
      <div class="form-group">
        <label for="" class="control-label col-sm-2">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="name">
        </div>
      </div>
      <div class="form-group">
        <label for="" class="control-label col-sm-2">UserName</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="username">
        </div>
      </div>
      <div class="form-group">
        <label for="" class="control-label col-sm-2">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" formControlName="password">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Role</label>
        <div class="col-sm-10">
          <select class="form-control" formControlName="role">
            <option value=""></option>
            <option value="{{item}}" *ngFor="let item of ['Admin', 'Candidate']">{{item}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" formControlName="isAdmin"> is Admin
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="">
        <button [disabled]="!form.valid" class="button btn btn-primary" type="submit">Save</button>
        <button class="btn btn-default" type="button" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </form>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of items|async">
      <a href="#" (click)="$event.preventDefault();onSelect(item)" style="line-height:34px">{{item.user.name}}</a>
      <div class="pull-right">
        <button class="button btn btn-link" type="button" (click)="onEdit(item)"><i class="glyphicon glyphicon-pencil"></i></button>
        <button class="button btn btn-link" type="button" (click)="onDelete(item)"><i class="glyphicon glyphicon-trash"></i></button>
      </div>
      <div class="clearfix"></div>
    </li>
  </ul>
</div>
