<div class="modal-header">
  <h4 class="modal-title pull-left">Login</h4>
  <div class="pull-right">
    <button type="button" class="close pull-right" aria-label="Close" (click)="loginModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
</div>
<form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmitLogin()">
  <div class="modal-body">
  <div class="form-group">
    <label class="control-label">Username</label>
    <input type="text" class="form-control" formControlName="username">
  </div>
  <div class="form-group">
    <label class="control-label">Password</label>
    <input type="password" class="form-control" formControlName="password">
  </div>
  </div>
  <div class="modal-footer">
    <div class="pull-right">
      <button class="btn btn-default" type="button" (click)="loginModalRef.hide()">Cancel</button>
      <button [disabled]="!loginForm.valid" class="btn btn-primary" type="submit">Login</button>
    </div>
  </div>
</form>