<div>
<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
<fieldset class="form-group" *ngFor="let fields of fieldsets">
  <div [ngClass]="getClasses(count)" *ngFor="let field of fields; let count = count">
    <label class="control-label" *ngIf="field.type!='checkbox' || field.type!='radio'">{{field.label ?  field.label : field.name}}</label>
    <input *ngIf="field.type=='text'" type="text" class="form-control" formControlName="{{field.name}}">
    <input *ngIf="field.type=='password'" type="password" class="form-control" formControlName="{{field.name}}">
    <textarea *ngIf="field.type=='textarea'" cols="30" rows="5" class="form-control" formControlName="{{field.name}}"></textarea>
    <div class="checkbox" *ngIf="field.type=='checkbox'">
      <label>
        <input type="checkbox" formControlName="{{field.name}}"> {{field.label}}
      </label>
    </div>
    <select *ngIf="field.type=='select'" class="form-control" formControlName="{{field.name}}">
      <option value=""></option>
      <option value="{{option.value ? option.value : option}}" *ngFor="let option of field.options">
        {{option.name ? option.name : option}}
      </option>
    </select>
  </div>
</fieldset>
<hr class="clearfix">
<div class="pull-left">
  <button class="button btn btn-default" type="button" (click)="onCancel()">Cancel</button>
  <button *ngIf="can.submit" class="button btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
</div>
</form>
</div>